

body{
    
    background-image: url(./img/back.jpg);
    background-repeat: no-repeat;
    width: 1000px;
    margin-left: 120px;
    
    
}
.parent{
    position: relative;
   
    
   }
   .image1{
    position: relative;
    top: 0;
    left: 40px;
    width: 960px;
    height: 250px;
    
   }
   

   .image2{
    position: absolute;
   top: 10px;
   left: 840px;
   width: 150px;
   
    
   }
   .top-left{
    position: absolute;
    top: 8px;
    left: 60px;
   }
   #table1{
    width: 100%;
    background-color: #b0d1f1;
    border: 5px black;
    text-align: center;
    
   }
   
   #table2{
    
     background-color: #b0d1f1;
    border: 5px black;
    text-align: center;
    width: 100%;
   }
   #container1{
    background-color: #5b9cea ;
    width: 450px;
    height: 300px;
    margin-left: 40px;
    
    

   }
   #container2{
    background-color: #5b9cea;
    float: right;
    width: 450px;
    height: 300px;
    margin-top: -300px;
    
    
   }
   h3{
    margin-left: 40px;
}
header{
    text-align: left;
}
#main{
    width: 1000px;
    text-align: center;
}

    

    
  
      
    

    
    
   


       

       