container{
    margin: auto;
    background-color: rgb(188, 188, 196);
    padding: 20px;
    border-radius: 10%;
}
label, input{
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}

input[type=password]{
    margin-left: 09px;
}
body{
    margin: auto;
    width: 800px;
    
}


