
.header{
    background-repeat: no-repeat;
    margin-top: ;
}    
ul{
    list-style-type: none;
    
    background-color:rgb(138, 234, 234) ;
    width: 200px;
    
}
li {
    
    list-style: none;
    margin-top: 9%;
    
    display: inline;
}
a {
   
    color: black;
    position: relative;
    font-size: large;
} 

@media screen and (max-width:700px) {
    .li{
        display: inline;
    }
}
.article{
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    height: 500px;
}
.hajó{
    width: 150px;
    margin-top: 200px;
}
@keyframes hajó { 
    0% {left: 0x; top: 0x;}
    100% {left: 800px; top: 0px;}
}
.hajó{
    animation-name: hajó;
    animation-duration: 15s;
    animation-direction: normal;
    position: relative;
}
.nap{
    width: 100px;
}
